$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 3%, 87%);
$darkGrayishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

$dangerousRed: hsl(0, 100%, 66%);

$lightBlue: hsl(249, 99%, 64%);
$normalViolet: hsl(278, 94%, 30%);

$activeBorder: linear-gradient(135deg, $lightBlue, $normalViolet );